mixin categorie(categories) 
	- categories.each(function(categorie) {
		a(href=url_for(categorie.path))
			!= categorie.name
	- })

mixin tag(tags) 
	- tags.each(function(tag) {
		a(href=url_for(tag.path))
			!= tag.name
	- })

mixin posts()
	- page.posts.each(function(item) {
		article.post.post-list
			header.header
				a(href=url_for(item.path))
					!= item.title

			section.info
				div.item
					i.ion-android-calendar
					span 发表于 #{full_date(item.date, 'll')}
				div.item
					i.ion-android-folder-open
					span 分类于 
						+categorie(item.categories)
				
			section.excerpt
				!= item.excerpt

			a.readmore(href=url_for(item.path)) read more
	- })


mixin post(item) 
	main.post.post-detail
		.post-header
			.header
				!= item.title
			section.info
				div.item
					i.ion-android-calendar
					span 发表于 #{full_date(item.date, 'll')}
				div.item
					i.ion-android-folder-open
					span 分类于 
						+categorie(item.categories)
		article.content(data-spy='scroll', data-target='panel1')
			!= item.content
